<%= div_for comment, class: comment.id do %>
  <p>
    <strong>
            Posted <%= time_ago_in_words(comment.created_at) %> ago
    </strong>
    <br/>
    <%= comment.body %>
    <%= link_to "Delete", post_comment_path(comment.post, comment), remote: true, method: :delete %>
  </p>
<% end %>