// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
img {
  vertical-align: middle;
  margin: auto;
  max-width: 100%;
}