// -----------------------------------------------------------------------------
// This file contains very basic styles fot img-s.
// -----------------------------------------------------------------------------


/**
 * Basic styles for img-s
 */
img {
  vertical-align: middle;
  margin: auto;
  max-width: 100%;
}
