// -----------------------------------------------------------------------------
// This file contains very basic styles fot links.
// -----------------------------------------------------------------------------


/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $dark-blue;
    text-decoration: underline;
  }
}
