// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer p, footer div {
  @include span(6 of 12);
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1.1rem;
}

footer ul{
  float: right;
}

footer ul li{
  display: inline-block;
  float: left;
  margin-left: 1.375rem;
}