// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/**
 * Divide footer on two parts
 */
footer p, footer div {
  @include span(6 of 12);
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1.1rem;
}

/**
 * Styles for all links in footer
 */
footer ul{
  float: right;
}

/**
 * Styles for all links in footer
 * Inline all links
 * and add spaces between them
 */
footer ul li{
  display: inline-block;
  float: left;
  margin-left: 1.375rem;
}