// -----------------------------------------------------------------------------
// This file contains all styles related to the form of the site/application.
// -----------------------------------------------------------------------------


/* Form styles */
form {
  width: 100%;
}

form p {
  width: 100%;
}

form > div {
  margin: 0 0 1.5rem 0;
}

label {
  display: block;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.4rem;
}

textarea, .field input, select {
  padding: 0.5rem;
  position: relative;
  border: 1px solid $input-border-color;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.75);
  display: block;
  font-size: 0.875rem;
  height: 5.3125rem;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  clear: both;
  resize: auto;
  height: 8rem;
}

#comment_body{
  height: 4rem;
}

.field input, .field select {
    height: 2.25rem;
}

input[type="checkbox"] {
    border: 1px solid $input-border-color;
    color: rgba(0,0,0,0.75);
    display: block;
    width: 2rem;
    height: 2rem;
}

input[type="submit"] {
  padding: 1px 6px;
  background-color: rgb(221,221,221);
  border: 2px solid rgb(221,221,221);
  border-right: 2px solid rgb(137,137,137);
  border-bottom: 2px solid rgb(137,137,137);
}

textarea:focus, .field input:focus, .field select:focus {
  outline: none; 
  background: rgb(250,250,250);
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
  border: 1px solid rgb(153,153,153);
}

input[type="submit"]:focus {
  border: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(137,137,137);
  border-top: 2px solid rgb(137,137,137);
}
