// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/**
 * Set button-group to right
 * Set h1 length 6 columns
 */
header .button-group {
  @include span(6.25 of 12 last);
  padding: 0;
  line-height: 1.6;
  font-family: inherit;
}

/**
 * Set h1 length 6 columns
 */
header h1 {
  @include span(5.75 of 12);
  padding: 0;
}

/**
 * Set hr relative the last item
 */
header hr {
  float: left;
  width: 100%;
}

/**
 * Align the list to the right
 */
header ul {
  float: right;
}

/**
 * Styles for each element in list (buttons)
 */
header li {
  display: inline-block;
  font-size: 1rem;
  padding: 0.75rem 1.9rem 0.85rem;
  margin: 0 -3.5px 0.8rem ;
  border-left: 1px solid rgba(255,255,255,0.5);
  text-align: center;
  background-color: $brand-color;
  color: $top-button-font-color;
  transition: background-color 300ms ease-out;
  a {
      color: $top-button-font-color;
  }
  &:focus, &:hover {
    background-color: $dark-brand-color;
    a {
      color: $top-button-font-color;
    }
  }
  &:first-child {
  border-left: 0;
  }
}
