// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site/application.
// -----------------------------------------------------------------------------

.sidebar {
  display: block;
  padding: 0.8rem 0;
  list-style-position: outside;
  transition: background-color 300ms ease-out;
}

.sidebar li {
  margin-bottom: 0.5rem;
  &:hover, &:focus {
    background-color: rgb(249, 249, 249);
    a{
      color: rgb(28, 202, 253);
    }
  }
}

.sidebar li a {
  display: block;
  margin: 0 0 0.4375rem 0;
  padding: 0.53rem 0.875rem;
  font-size: 0.875rem;
  color: #008cba;
}
