 
<div class="row">
  <div class="large-9 columns" role="content">
	  	 <%= render :partial => @posts %>
  </div>
     
  <aside class="large-3 columns">
    <h5>Categories</h5>
    <ul class="side-nav">
      <li><a href="#">News</a></li>
      <li><a href="#">Code</a></li>
      <li><a href="#">Design</a></li>
      <li><a href="#">Fun</a></li>
      <li><a href="#">Weasels</a></li>
    </ul>
    <%- if @featured_post %>
    <div class="panel">
      <h5>Featured</h5>
      <%= render :partial => 'truncate' %>
      <%= link_to 'Read More →', @featured_post %>
    </div>
    <%- end %>
  </aside>
</div>
 