// -----------------------------------------------------------------------------
// This file contains all styles related to the featured of the site/application.
// -----------------------------------------------------------------------------

.featured {
  border: 1px solid #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2;
  color: #333;
}
