$bodyBackgroundColor: #fff;
$bodyFontColor: #222;
$topButtonColor: #008CBA;
$topButtonHoverColor: #007095;
$topButtonFontColor: #fff;
$linkColor: #008CBA;
$linkHoverColor: #007095;
$asideLinkColor: #008cba;
$asideHoverBackgroundColor: rgb(249, 249, 249);
$asideHoverLinkColor: rgb(28, 202, 253);
$panelBackgroundColor: #f2f2f2;
$panelBorder: #d8d8d8;
$panerFontColor: #333;
$hrColor: #DDD;
$inputBorderColor: #cccccc;
$smallTextColor: #6f6f6f;
$labelFontColor: rgba(0,0,0,0.5);

/* Common styes */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body { 	
	display: block;
	height: 100%;
	background: $bodyBackgroundColor;
	color: $bodyFontColor;
	font-family: "Helvetica Neune", Helvetica, Roboto, Arial, sans-serif;
	line-height: 1.5;
}
a {
	color: $linkColor;
    text-decoration: none;
    line-height: inherit;
}
a:focus, a:hover{
    color: $linkHoverColor;
}
ul {
	list-style: none;
}
h1, h2, h3, h5, h6 {
    font-weight: normal;
    font-style: normal;
	font-size: 2.75rem;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
    margin: 0.2rem 0 0.5rem 0;
}
h2 {
	font-size: 2.3125rem;
}
h3 {
	font-size: 1.6875rem;
}
h5 {
	margin: 0.1rem 0 0 0;
	padding:0;
    font-size: 1.125rem;
    margin-bottom: 0.625rem;
}
h6 {
	font-size: 1rem;
}
hr {
	border: solid $hrColor;
	border-width: 1px 0px 0px;
	clear: both;
	margin: 20px 0 20px;
	height: 0;
}
img {
    vertical-align: middle;
    margin: auto;
    max-width: 100%;
}
p {
	font-family: inherit;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
}
.center {
	margin: auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.main-row {
	padding: 0 0.9375rem;
}
small {
    font-size: 60%;
    color: $smallTextColor;
}
header, .main, footer {
	width: 100%;
	margin: 0 auto;
	max-width: 62.5rem;
}
.main-row:before, .main-row:after {
    content: " ";
    display: table;
}

/* Hide last hr in document */
.main hr:last-of-type {
	visibility: hidden;
}

/* Header styles */
/* Button-group styles */
.button-group {
	margin: -4px 0 0 0;
	left: 0;
	display: block;
	font-size: 1rem;
	line-height: 1.6;
	font-family: inherit;
	height: 70px;
	li{
		float: left;
		margin: 0 -2px;
		padding: 0;
		display: inline-block;
	}
	.button {
		text-decoration: none;
		display: inline-block;
		font-size: 1rem;
		padding: 1rem 2rem 0.85em 2rem;
		margin: 0 0 1.25rem;
		border-left: 1px solid rgba(255,255,255,0.5);
		text-align: center;
		background-color: $topButtonColor;
		color: $topButtonFontColor;
		transition: background-color 300ms ease-out;
	}
	li:first-child .button {
		border-left: 0;
	}
	.button:focus, .button:hover {
	    background-color: $topButtonHoverColor;
	    color: $topButtonFontColor;
	}
}

/* Main styles */
/* Article styles */
article:after, article:before {
	content: "";
	display: block;
	clear: both;
}
.article-image {
	width: 50%;
	padding-left: 0.9375rem;
    margin-left: 0.9375rem;
    margin-bottom: 0.9375rem;
}

/* Home page styles */
/* Block-of-articles styles */
.row-articles {
    float: left;
    width: 75%;
}
/* Aside element */
aside {
	position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
	float: right;
	width: 25%;

}
.side-nav {
	display: block;
    padding: 0.8rem 0;
    list-style-position: outside;
    transition: background-color 300ms ease-out;
    li {
		margin-bottom: 0.5rem;
		a {
		    margin: 0 0 0.4375rem 0;
			font-size: 0.875rem;
		    display: block;
		    color: $asideLinkColor;
		    padding: 0.4375rem 0.875rem;
		}
	}
	li:hover, li:focus {
	    background-color: $asideHoverBackgroundColor;
	    a{
	    	color: $asideHoverLinkColor;
	    }
	}
}	
.panel {
    border: 1px solid $panelBorder;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: $panelBackgroundColor;
    color: $panerFontColor;
}

/* Form styles */
form{
	width: 100%;
	p {
		width: 100%;
	}
}
.post-form-create {
	width: 75%;
	p {
		width: 100%;
	}
	h1 {
		text-align: center;
	}
}
form > div{
	margin: 0 0 1.5rem 0;
}
label{
    font-family: inherit;
    color: $labelFontColor;
}
textarea, .field input, select {
	padding: 0.5rem;
	position: relative;
    font-family: inherit;
    border: 1px solid $inputBorderColor;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.75);
    display: block;
    font-size: 0.875rem;
    height: 5.3125rem;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
    clear: both;
    resize: auto;
    height: 8rem;
}
#comment_body{
	height: 4rem;
}
.field input, .field select {
    height: 2.25rem;
}
input[type="checkbox"] {
    border: 1px solid $inputBorderColor;
    color: rgba(0,0,0,0.75);
    display: block;
    width: 2rem;
    height: 2rem;
}
input[type="submit"] {
	padding: 1px 6px;
	background-color: rgb(221,221,221);
	border: 2px solid rgb(221,221,221);
	border-right: 2px solid rgb(137,137,137);
	border-bottom: 2px solid rgb(137,137,137);
}
textarea:focus, .field input:focus, .field select:focus {
	outline: none; 
	background: rgb(250,250,250);
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
	border: 1px solid rgb(153,153,153);
}
input[type="submit"]:focus {
	border: 2px solid rgb(221,221,221);
	border-left: 2px solid rgb(137,137,137);
	border-top: 2px solid rgb(137,137,137);
}

/* Footer styles */
footer {
	div{
		width: 50%;
		float: left;
	}
	.right {
    	margin-left: -1.375rem;
	}
	ul {
		padding-left: 0.9375rem;
		float: right;
		margin: 0 auto 1.0625rem auto;
	}
	ul li {
		float: left;
		margin-left: 1.375rem;
	}
	p {
		float: left;
	}
}


/* Adopting */
@media all and (max-width: 64.063em){
	.row-articles{
		width: 100%;
	} 
	aside {
		width: 100%;
	}
	.article-image {
		width: 100%;
		padding: 0;
	}
}
@media all and (max-width: 30em){
	ul.button-group {
		height: 140px !important;
	}
	footer .right {
   		width: 100%;
   		margin: 0;
   		ul {
   			margin: 0;
   		}
	}
}
@media all and (max-width: 20em){
	ul.button-group {
		height: 210px !important;
	}
}