<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><%= link_to 'Github', 'https://github.com/reInteractive-open' %></li>
          <li><%= link_to 'Twitter', 'https://twitter.com/' %></li>
          <li><%= link_to 'Habrahabr', 'https://http://habrahabr.ru/' %></li>
          <li><%= link_to 'Add Post', new_post_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>