<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><%= link_to 'Github', 'https://github.com/reInteractive-open', class: "button" %></li>
       <li><%= link_to 'Twitter', 'https://twitter.com/', class: "button" %></li>
       <li><%= link_to 'Habrahabr', 'https://http://habrahabr.ru/', class: "button" %></li>
       <li><%= link_to 'Add Post', new_post_path, class: "button"  %></li>
      </ul>
    </div>
    <h1>Blog <small>This is my blog. It's awesome.</small></h1>
    <hr/>
  </div>
</div>