<header>
  <div class="container">
    <ul class="button-group right">
      <li><%= link_to 'Github', 'https://github.com/NaumenkoYuliia', class: "button" %></li>
      <li><%= link_to 'LinkedIn', 'https://www.linkedin.com/profile/view?id=416953574', class: "button" %></li>
      <li><%= link_to 'Habrahabr', 'https://http://habrahabr.ru/', class: "button" %></li>
      <li><%= link_to 'Add Post', new_post_path, class: "button"  %></li>
     </ul>
    <h1>Blog <small>This is my blog. It's awesome.</small></h1>
    <hr/>
  </div>
</header>