<header>
  <div class="button-group"> 
    <ul >
      <li><%= link_to 'Github', 'https://github.com/NaumenkoYuliia' %></li>
      <li><%= link_to 'LinkedIn', 'https://www.linkedin.com/profile/view?id=416953574' %></li>
      <li><%= link_to 'Habrahabr', 'https://http://habrahabr.ru/' %></li>
      <li><%= link_to 'Add Post', new_post_path %></li>
    </ul>
  </div>
  <h1>Blog <small>This is my blog. It's awesome.</small></h1>
  <hr/>
</header>